@import "./variables.css";
@import "tailwindcss";

/* From Uiverse.io by mobinkakei */
.cta {
	display: flex;
	padding: 11px 33px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background: var(--secondary);
	transition: 1s;
	box-shadow: 6px 6px 0 #351300;
	transform: skewX(-15deg);
	border: none;
	cursor: pointer;
}

.cta:focus {
	outline: none;
}

.cta:hover {
	transition: 0.5s;
	color: var(--primary-ex-dark);
	background: var(--tertiary);
	box-shadow: 10px 10px 0 #e1ffc550;
}

.cta .second {
	transition: 0.5s;
	margin-right: 0px;
}

.cta:hover .second {
	transition: 0.5s;
	margin-right: 45px;
}

.span {
	transform: skewX(15deg);
}

.second {
	width: 20px;
	margin-left: 30px;
	position: relative;
	top: 12%;
}

.one {
	transition: 0.4s;
	transform: translateX(-60%);
}

.two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.cta:hover .three {
	animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
	0% {
		fill: white;
	}

	50% {
		fill: var(--secondary);
	}

	100% {
		fill: white;
	}
}

.card {
  width: 12em;
  height: fit-content;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 0.5em;
}

.card .img {
  margin-top: 1rem;
  align-self: center;
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
}

.card .share {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 0.5em 1.5em;
  align-self: center;
  width: fit-content;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

/* Card Sobre */

.cardSobre {
  overflow: visible;
  width: 18rem;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: var(--primary-ex-dark);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--tertiary), var(--secondary), var(--secondary), var(--tertiary), transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: var(--primary-ex-dark);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cardSobre:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  margin: auto;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.cardSobre-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--tertiary);
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: var(--secondary);
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: var(--secondary);
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Para a barra de rolagem inteira */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Para o "track" (a trilha onde a barra desliza) */
.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--primary-dark); /* Fundo da trilha */
}

/* Para o "thumb" (o elemento que desliza) */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Cor do elemento deslizante */
  border-radius: 4px; /* Arredondamento das bordas */
  border: 1px solid var(--primary-dark); /* Borda ao redor do thumb */
}

/* Para o hover do thumb */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-light); /* Cor do thumb no hover */
}

/* .cta {
  transition: all 0.5s;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1ch 2ch;
  background-color: var(--secondary);
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--secondary-dark);
  border-radius: 8px;
  box-shadow:
    -2px -2px 0px #5fa30090,
    4px 4px 0px #5fa30080,
    -6px -6px 0px #5fa30070,
    8px 8px 0px #5fa30060,
    -10px -10px 0px #5fa30050,
    12px 12px 0px #5fa30040,
    -14px -14px 0px #5fa30030,
    16px 16px 0px #5fa30020,
    -18px -18px 0px #5fa30010;
}

.cta:hover {
  background-color: var(--tertiary);
  color: #000;
  border: 1px solid var(--tertiary-dark);
  box-shadow: none;
} */

@media (max-width: 480px) {
  /* From Uiverse.io by mobinkakei */
.cta {
	padding: 6px 15px;
	font-size: 20px;
}

.cta:hover {
	transition: 0.5s;
	color: var(--primary-ex-dark);
	background: var(--tertiary);
	box-shadow: 10px 10px 0 #e1ffc550;
}

.cta .second {
	transition: 0.5s;
	margin-right: 0px;
}

.cta:hover .second {
	transition: 0.5s;
	margin-right: 5px;
}

.span {
	transform: skewX(15deg);
}

.second {
	width: 20px;
	margin-left: 5px;
	top: 12%;
}

.one {
	transition: 0.4s;
	transform: translateX(-60%);
}

.two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.cta:hover .three {
	animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

}