@import "./variables.css";
@import "tailwindcss";

.transition-height {
  transition: height 0.5s ease;
}

/* From Uiverse.io by mobinkakei */
.cta {
	display: flex;
	padding: 11px 33px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background: var(--secondary);
	transition: 1s;
	box-shadow: 6px 6px 0 #351300;
	transform: skewX(-15deg);
	border: none;
	cursor: pointer;
}

.cta:focus {
	outline: none;
}

.cta:hover {
	transition: 0.5s;
	color: var(--primary-ex-dark);
	background: var(--tertiary);
	box-shadow: 10px 10px 0 #e1ffc550;
}

.cta .second {
	transition: 0.5s;
	margin-right: 0px;
}

.cta:hover .second {
	transition: 0.5s;
	margin-right: 45px;
}

.span {
	transform: skewX(15deg);
}

.second {
	width: 20px;
	margin-left: 30px;
	position: relative;
	top: 12%;
}

.one {
	transition: 0.4s;
	transform: translateX(-60%);
}

.two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.cta:hover .three {
	animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
	0% {
		fill: white;
	}

	50% {
		fill: var(--secondary);
	}

	100% {
		fill: white;
	}
}

.card {
  width: 12em;
  height: fit-content;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 0.5em;
}

.card .img {
  margin-top: 1rem;
  align-self: center;
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
}

.card .share {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card a:hover {
  color: red;
}

.card button {
  padding: 0.5em 1.5em;
  align-self: center;
  width: fit-content;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}

.card button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

/* Card Sobre */

.cardSobre {
  overflow: visible;
  width: 18rem;
  height: 254px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #8ee000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: var(--primary-ex-dark);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, var(--tertiary-dark), var(--tertiary), var(--tertiary-dark), transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: var(--primary-ex-dark);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cardSobre:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #f25c00aa;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
  margin: auto;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
  text-align: center;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.cardSobre-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  background-color: var(--primary-dark);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#bottom {
  background-color: var(--secondary);
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: var(--secondary);
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Para a barra de rolagem inteira */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Para o "track" (a trilha onde a barra desliza) */
.scrollbar-custom::-webkit-scrollbar-track {
  background: var(--primary-dark); /* Fundo da trilha */
}

/* Para o "thumb" (o elemento que desliza) */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Cor do elemento deslizante */
  border-radius: 4px; /* Arredondamento das bordas */
  border: 1px solid var(--primary-dark); /* Borda ao redor do thumb */
}

/* Para o hover do thumb */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-light); /* Cor do thumb no hover */
}

/* CTA Contato - Sobre */

/* From Uiverse.io by nikk7007 */ 
.ctabubbles {
  --size-letter: 1.5rem;
  padding: 0.5em 1em;
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--tertiary);
  border-radius: 1.5rem;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.ctabubbles > .ctabubbles_text {
  font-weight: 700;
  color: var(--tertiary);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.ctabubbles::before {
  top: 0;
  left: 0;
}

.ctabubbles::after {
  top: 100%;
  left: 100%;
}

.ctabubbles::before,
.ctabubbles::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  scale: 0;
  transition: 800ms cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--tertiary);
  border-radius: 50%;

  position: absolute;
  translate: -50% -50%;
}

.ctabubbles:hover {
  & > span {
    color: var(--primary);
  }
  &::before,
  &::after {
    scale: 1;
  }
}

.ctabubbles:active {
  scale: 0.98;
  filter: brightness(0.9);
}

/* CTA Seguro - Serviços */

/* From Uiverse.io by nikk7007 */ 
.ctabubbles_orange {
  --size-letter: 1.25rem;
  padding: 0.5em 1em;
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--secondary);
  border-radius: 1.5rem;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);
}

.ctabubbles_orange > .ctabubbles_orange_text {
  font-weight: 700;
  color: var(--secondary);
  position: relative;
  z-index: 1;
  transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
}

.ctabubbles_orange::before {
  top: 0;
  left: 0;
}

.ctabubbles_orange::after {
  top: 100%;
  left: 100%;
}

.ctabubbles_orange::before,
.ctabubbles_orange::after {
  content: "";
  width: 150%;
  aspect-ratio: 1/1;
  scale: 0;
  transition: 800ms cubic-bezier(0.76, 0, 0.24, 1);

  background-color: var(--secondary);
  border-radius: 50%;

  position: absolute;
  translate: -50% -50%;
}

.ctabubbles_orange:hover {
  & > span {
    color: white;
  }
  &::before,
  &::after {
    scale: 1;
  }
}

.ctabubbles_orange:active {
  scale: 0.98;
  filter: brightness(0.9);
}

/* Input CSS */

/* From Uiverse.io by alexruix */ 
.input-group {
 position: relative;
}

.input {
 border: solid 1.5px var(--primary-ex-light);
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:hover {
 border: solid 1.5px var(--tertiary);
}

.user-label {
 position: absolute;
 border-radius: 1rem;
 left: 15px;
 bottom: 25px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, .input:valid {
 outline: none;
 border: 1.5px solid var(--tertiary-light);
}

.input:focus ~ label, .input:valid ~ label {
 transform: translateY(-20%) translateX(-20%) scale(0.8);
 background-color: var(--primary);
 padding: 0 1rem;
 color: white;
}

.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--primary-ex-dark) inset;
	-webkit-text-fill-color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Textarea */

.textarea-group {
 position: relative;
}

.textarea {
 border: solid 1.5px var(--primary-ex-light);
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 color: #f5f5f5;
 transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.textarea_user-label {
 position: absolute;
 border-radius: 1rem;
 left: 15px;
 top: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.textarea:focus, .textarea:valid {
 outline: none;
 border: 1.5px solid var(--tertiary-light);
}

.textarea:focus ~ label, .textarea:valid ~ label {
 transform: translateY(-20%) translateX(-20%) scale(0.8);
 background-color: var(--primary);
 padding: 0 1rem;
 color: white;
}

.textarea-group textarea:-webkit-autofill,
.textarea-group textarea:-webkit-autofill:hover,
.textarea-group textarea:-webkit-autofill:focus,
.textarea-group textarea:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--primary-ex-dark) inset;
	-webkit-text-fill-color: white;
}


/* Select - Register */

.button-group{
  justify-self: center;
}

.button-group input[type="radio"] {
  display: none;
}

.button-group label {
  cursor: pointer;
  border: 1px solid var(--primary-ex-light);
  color: #ffffff80;
  border-radius: 0.5rem;
  transition: all ease 300ms;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0px 0px 50px -15px #000000;
  padding: 0.5rem 1rem;
}

.button-group input[type="radio"]:checked + label {
  color: white;
  font-weight: bold;
  border: 2px solid var(--tertiary);
}

/* Checkbox */

.checkbox_container {
  cursor: pointer;
}

.checkbox_container input {
  display: none;
}

.checkbox_container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #8ee000;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.checkbox_container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

/* Botão Perfil */

.Btn_perfil {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 30px;
  border: none;
  padding: 0px 20px;
  background-color: var(--primary-light);
  color: white;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: -5px 5px 0px var(--primary-ex-dark);
  transition-duration: .3s;
}

.svg_perfil {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn_perfil:hover {
  color: transparent;
}

.Btn_perfil:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn_perfil:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px var(--tertiary-ex-dark);
}

@media (max-width: 480px) {
  /* From Uiverse.io by mobinkakei */
.cta {
	padding: 6px 15px;
	font-size: 20px;
}

.cta:hover {
	transition: 0.5s;
	color: var(--primary-ex-dark);
	background: var(--tertiary);
	box-shadow: 10px 10px 0 #e1ffc550;
}

.cta .second {
	transition: 0.5s;
	margin-right: 0px;
}

.cta:hover .second {
	transition: 0.5s;
	margin-right: 5px;
}

.span {
	transform: skewX(15deg);
}

.second {
	width: 20px;
	margin-left: 5px;
	top: 12%;
}

.one {
	transition: 0.4s;
	transform: translateX(-60%);
}

.two {
	transition: 0.5s;
	transform: translateX(-30%);
}

.cta:hover .three {
	animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
}

}